% -*- mode: erlang -*-
{require_min_otp_vsn, "19"}. % and max 22
{erl_opts, [
    debug_info,

    {platform_define, "^(19|20)", 'ssl_handshake_unavailable'},
    {platform_define, "^(19|20)", 'ssl_cipher_old'},
    {platform_define, "^(19|20|21)", 'ssl_filter_broken'},
    {platform_define, "^21", 'otp_21'}
]}.
{cover_enabled, true}.
{eunit_opts, [verbose, {report,{eunit_surefire,[{dir,"."}]}}]}.
{template_dir, "support/templates/"}.
{dialyzer_opts, [{warnings, [no_return,
                             no_unused,
                             no_improper_lists,
                             no_fun_app,
                             no_match,
                             no_opaque,
                             no_fail_call,
                             error_handling,
                             race_conditions,
                             behaviours,
                             unmatched_returns]}]}.
